@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  font-family: "DM Sans", sans-serif;

  --color-primary: #3B161D;
  --color-secondary: #8A4856;
  --color-surface: #F1EBE1;
}

body {
  margin: 0;
  background: var(--color-surface);
  color: #1F1F1F;
}